<h1>New Article</h1>

<%= link_to 'Back', user_accounts_path(current_user) %>

<%= form_for :account, :builder => JRForm , url: user_accounts_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :balance %><br>
    <%= f.monetary_field :balance, 0.00, "form-control" %>
  </p>
  
 
  <p>
    <%= f.submit %>
  </p>
<% end %>