<h1>New Article</h1>


<%= form_for :account, url: user_accounts_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :account_name%>
  </p>
 
  <p>
    <%= f.label :balance %><br>
    <%= f.text_area :balance %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>